.subtitulo {
    font-size: 25px;
    margin: 20px;
}
.listadoTodo {
    background-color: #1b363c;
    border-radius: 25px;
    flex: 3;
    box-shadow: 0px 0px 25px #0F0F0F;
}
.listado {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}