.subtitulo {
    font-size: 25px;
    margin: 20px;
}
.listadoTodo {
    animation: aparecer 0.8s;
    background-color: #1b363c;
    border-radius: 25px;
    flex: 3;
    box-shadow: -5px 5px 10px #0f0f0f;
}
.listado {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
