.App {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #132335;
    color: #d3dfdf;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
.contenedor {
    display: flex;
    flex-direction: row;
    flex: 1;
}
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
