.App{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #391607;
    color: #eac94c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
} 
.contenedor{
    display:flex;
    flex-direction: row;
    flex: 1;
}
.subtitulo{
    font-size: 25px;
    margin: 20px;
}


.formulario{
    display: flex;
    background-color:   #5e3413;
    margin-right: 15px;
    padding: 15px 20px;
    border-radius: 25px;
    flex-direction: column;
    height: 470px;
}
.formulario form{
    width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    flex-direction: column; 
}
.formulario input, select, button {
    margin: 10px 5px;
    background-color: #8d5c24;
    color: #eac94c;
    font-size: 20px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: 2px solid;
    transition:200ms;
}
input::placeholder{
    color: #ca8d3a;
}
.formulario label{
    color: #eac94c;
    font-size: 20px;
}
.inputDiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.formulario button:hover,.formulario input:hover,.formulario select:hover{
    scale: 1.05;
}
.formulario button:hover{
    background-color: #ca8d3a;
    cursor: pointer;
}


.listadoTodo{
    background-color: #5e3413;
    border-radius: 25px;
    flex: 3
}
.listado{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.tarjeta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 20px;
    position:relative;
    transition: 200ms;
}
.tarjeta:hover{
    scale: 1.05;
}
.eliminar {
    position: absolute;
    background-color: #391607;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    border-radius: 50%;
    top:10px;
    right: 10px;
    cursor: pointer;
    transition: 200ms;
}
.eliminar:hover{
    scale: 0.9;
    background-color: #5e3413;
}